:root {
    --fontColor: rgb(238, 238, 238);
    --bgColor: #333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
/* Scrollbar start */
/* https://codepen.io/devstreak/pen/dMYgeO */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}
/* Scrollbar end */
body, #root, .app {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    background: var(--bgColor);
    color: var(--fontColor);
}
.logoText a {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-family: 'Dancing Script', cursive;

}
nav a {
    color: var(--fontColor);
    text-decoration: none;
    cursor: pointer;
}
.mobileMenuIcon {
    font-size: clamp(1.2rem, 3vw, 2rem);

}
.mobileNavContainer {
    position: absolute;
    top: 61px;
    left: 0;
    background-color: var(--bgColor);
    width: 100vw;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid var(--fontColor);
}
.searchForm {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchForm input {
    margin-right: .5rem;
    border: none;
    width: 12rem;
    height: 1.7rem;
    background: rgb(102, 102, 102);
    border-radius: 1rem;
    padding: 0 1rem;
    color: var(--fontColor);
}
.searchForm input::placeholder {
    color: rgb(190, 190, 190);
}
.searchForm input:focus {
    outline: none;
    border: 1px solid var(--fontColor);
}
.searchSubmit {
    cursor: pointer;
    font-size: 1.2rem;
}
.mobileNavContainer li {
    text-align: center;
}
.createBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem 1rem;
    border: none;
    border-radius: .2rem;
    background: var(--fontColor);
    color: var(--bgColor);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    cursor: pointer;
}
.createBtn:active {
    transform: scale(.98);
}
.createIcon {
    margin-right: .1rem;
}
.loginBtn {
    margin-bottom: 1rem;
}
.createDialog {
    width: 20vw;
    height: 40vh;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    border: none;
    border-radius: .5rem;
    background: var(--bgColor);
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    height: calc(100vh - 61px);
    padding: 1rem;
    background: linear-gradient(90deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.8) 100%),
                url('./assets/headerMobileBg.jpg');
/* Photo by DapurMelodi: https://www.pexels.com/photo/onion-rings-on-gray-bowl-1109195/ */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h3 {
    font-size: clamp(1.5rem, 4vw, 5rem);
    font-family: 'Dancing Script', cursive;
    margin-bottom: 2rem;
}
.invalidInput {
    border: 2px solid red;
}

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1024px) {
    .mobileMenuIcon, .flexFix {
        display: none;
    }
    .mobileNavContainer {
        position: static;
        z-index: 5;
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
        height: 3rem;
    }
    .mobileNavContainer > * {
        opacity: 1 !important;
    }
    .searchForm {
        margin-bottom: 0;
        margin-right: 1rem;
    }
    .searchForm input {
        width: 15rem;
        height: 2.2rem;
        font-size: 1.2rem;
    }
    .searchSubmit {
        font-size: 1.4rem;
    }
    .mobileNavContainer ul {
        display: flex;
    }
    .mobileNavContainer li {
        font-size: 1.2rem;
    }
    .loginBtn {
        margin-bottom: 0;
        margin-right: 1rem;
    }
    header {
        height: calc(100vh - 80px);
    }
    .createBtn {
        margin-bottom: 0;
        margin-right: 1rem;
    }
}